<div class="col-sm-12 col-md-4">
<!-- TODO move this json to be fetch by ajax call -->
  <div onclick="javascript:showMyModal(<%= event.to_json %>, <%= (url_for(event.photo)).to_json %>)">
    <div class="event-tile">
      <div class="event-tile-type <%= event.type %>"><%= event.type %></div>
      <div class="event-photo" style="background: url(<%= (url_for(event.photo)) %>) no-repeat center center / cover;">
        <div class="event-photo-hover"><i class="fas fa-search"></i> Szczegóły</div>
      </div>
      <div class="event-info-wrapper">
        <div class="event-tile-title"><%= event.title %></div>
        <div class="event-tile-details">
          <div class="event-tile-header-date chip">
            <i class="far fa-calendar-alt"></i><%= event.date %>
          </div>
          <div class="event-tile-header-location chip">
            <i class="fas fa-map-marker-alt"></i><%= event.location %>
          </div>
        </div>
      </div>
      <div class="event-tile-description">
        <%= event.description %>
        <br>
      </div>
      <div class="event-action-buttons">
        <% if current_user %>
          <a class="btn <%= (EventUser.user_has_event?(current_user, event) || Event.belongs_to_current_user?(current_user, event)) ? 'btn-secondary disabled' : 'btn-primary' %>" aria-disabled="true" href=" <%= user_events_new_path(event.id) %> "><i class="fas fa-check"></i> Wchodzę w to!</a>
        <% end %>
      </div>
    </div>
  </div>
</div>