<%= simple_form_for @event, html: { class: "form-group" } do |f| %>
  <div class="col-sm-3">
    <%= f.input :title %>
    <%= f.input :type, collection: Event.types.keys %>
    <%= f.input :location, help: 'City' %>
    <%= f.input :description, as: :text %>
    <%= f.input :date %>
    <%= f.input :photo %>
    <div class="btn btn-primary"><%= f.button :submit %></div>
  </div>
<% end %>